
/* ========================================================================= * BASE * ========================================================================= */
/* HTML * ------------------------------------------------------------------------- */
html
{
	height: 100%;
}

/* BODY * ------------------------------------------------------------------------- */
body
{
	min-width: var(--dom--min-width);
	min-height: 100%;
	flex-direction: column;
	font-family: sans-serif;
	background-image: url(../images/ui/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0 15%;
}

/* ========================================================================= * MY CUSTOM STYLE * ========================================================================= */
p, div
{
	color: #737373;
}

.brand-logo
{
	width: 128px;
}

.clear
{
	clear: both;
}

.title
{
	text-transform: uppercase;
	color: #525252;
	font-weight: bold;
}

.prices
{
	display: flex;
	align-items: baseline;
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: bold;
	font-size: 28px;
}

.price
{
	margin-right: 20px;
}

.price-before
{
	text-decoration: line-through;
}

.price-now
{
	color: #bdbdbd;
}

.fa-plus
{
	margin-right: 11px;
}

.compare
{
	margin-left: 20px;
	color: #ffffff;
	background-color: #d66a6a;
	border: none;
	outline: none;
	padding: 15px 10px;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 0cm;
	cursor: pointer;
}

.article6
{
	padding-bottom: 20px;
}

.fa-facebook:before, .fa-instagram:before, .fa-twitter:before
{
	padding: 0.3em;
	color: #fff;
	background-color: #d66a6a;
	border-radius: 50%;
}

.white
{
	color: #fff;
}

.fa-chevron-left
{
	position: absolute;
	left: 20%;
	bottom: 0;
	padding-bottom: 0.5em;
	font-size: 70px;
}

.fa-chevron-right
{
	position: absolute;
	right: 20%;
	bottom: 0;
	padding-bottom: 0.5em;
	margin-right: 0;
	font-size: 70px;
}

.fa-chevron-right, .fa-chevron-left
{
	cursor: pointer;
}

#presentation
{
	display: flex;
	margin: 0 10%;
	align-items: center;
}

#main-menu-container
{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#menu-description
{
	display: flex;
}

#menu-description li
{
	margin-right: 40px;
	text-align: center;
}

#menu-description li a
{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

#menu-description li a:hover
{
	color: #525252;
}

main
{
	margin: 0 auto;
}

#slideshow
{
	width: 100%;
	height: 560px;
	background-size: cover;
	position: relative;
	background: #f0f0f0;
}

#slideshow img
{
	width: 100%;
	height: 100%;
}

#main-title
{
	background-color: white;
}

#main-title
{
	padding: 15px 0 17px 12px;
	margin-bottom: 20px;
}

#vehicules
{
	padding: 20px 8px 20px 8px;
	background-color: #f0f0f0;
}

article
{
	display: flex;
	height: 251px;
	background-color: #ffffff;
	position: relative;
	margin-bottom: 20px;
}

article img
{
	width: 400px;
}

article .title
{
	padding: 16px 16px 73px 22px;
}

.article-description
{
	padding: 0 16px 65px 22px;
}

footer
{
	background-color: #fff;
	padding: 45px;
	display: flex;
	align-items: center;
}

#social-network
{
	width: 33.33%;
}

#social-network ul
{
	display: flex;
}

i
{
	margin-right: 19px;
	font-size: 22px;
}

#about
{
	width: 33.33%;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
}

#about ul
{
	display: flex;
}

#about ul li
{
	margin-right: 19px;
}

#about ul li p:hover
{
	cursor: pointer;
	color:  #bdbdbd;
}

#copyright
{
	width: 33.33%;
	display: flex;
	justify-content: flex-end;
	color: #d66a6a;
	font-weight: bold;
}

@media screen and (max-width: 1240px)
{
	body
	{
		margin: 0;
	}

	main
	{
		width: 100%;
	}

	#presentation
	{
		flex-direction: column;
		justify-content: center;
		font-size: 18px;
	}

	.collection__item
	{
		justify-content: center;
	}

	#main-menu-container
	{
		display: block;
	}

	#menu-description
	{
		padding-bottom: 47px;
		justify-content: center;
		width: 100%;
	}

	#menu-description
	{
		margin-right: 25px;
	}

	#slideshow 
	{
		padding-bottom: 20px;
	}

	#vehicules
	{
		padding: 0 0 20px 0;
	}

	#main-title
	{
		font-size: 30px;
	}

	article
	{
		display: block;
		height: unset;
	}

	article img
	{
		width: 100%;
	}

	article .title
	{
		font-size: 30px;
		padding: 25px 0 20px 10px ;
	}

	.article-description
	{
		font-size: 18px;
		padding: 0 10px 40px 10px;
	}

	.prices
	{
		font-size: 18px;
	}

	.price
	{
		margin-right: 5px;
	}

	.compare
	{
		padding: 5px;
		font-size: 18px;
	}

	article .title
	{
		padding-bottom: 25px;
	}

	footer
	{
		display: block;
		font-size: 15px;
	}

	#social-network, #about, #copyright
	{
		width: unset;
	}

	#social-network
	{
		padding-bottom: 17px;
	}

	#social-network ul
	{
		justify-content: center;
	}

	#about
	{
		padding-bottom: 17px;
	}

	#about ul
	{
		justify-content: center;
	}

	#about ul li
	{
		margin-right: 5px;
	}

	#copyright
	{
		padding-bottom: 54px;
		display: flex;
		justify-content: center;
	}
}
